h1 {
    color: rgb(255, 0, 0);
    width: fit-content;
    margin: 0 auto;
}

.topheader {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(155, 155, 155);
}
.logo {
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
}
.nav {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;

}
.nav-link {
    margin: 0;
    font-size: 24px;
    color: black;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}
.Page-Title {
    color: #00529F;
    text-align: center;
    margin-bottom: 40px;
}
.Player-Grid {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin-left: 20px;
}
.Positions {
    color: black;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
}
.Player-Card {
    background: white;
    width: 280px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.Player-Card:hover {
    transform: scale(1.05) translateY(-5px); 
}
.Player-Image {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    object-position: top;
}
.Player-Image:hover {
    filter: brightness(100%);
}

.Player-Info {
    padding: 15px;
    text-align: center;
}
.Player-Name {
    margin: 10px 0;
    color: #00529F;
}
.Player-Link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #00529F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.Player-Link:hover {
    background-color: #003366;
}