h1 {
    color: rgb(255, 0, 0);
    box-shadow: 5px 10px 10px rgba(104, 0, 250, 0.3);
    width: fit-content;
    margin: 0 auto;
}

.topheader {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(155, 155, 155);
}
.logo {
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
}
.nav {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;

}
.nav-link {
    margin: 0;
    font-size: 24px;
    color: black;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}